<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #000000 !important;
      }
    </style>
  </head>
  <body style="font-family: Arial, sans-serif; color: #000000">
    <p>Hello <strong>{{company_name}}'s Team</strong>,</p>

    <p>
      I hope you're doing well. I am writing to express my interest in joining
      {{company_name}} for the <strong>Software Engineer </strong>Position .
    </p>

    <p>Here is a brief summary of my qualifications:</p>

    <ul>
      <li>
        <strong>Skill 1</strong>
      </li>
      <li>
         <strong>Skill 2</strong>
      </li>
    </ul>

    <p>
      <a href="https://github.com/SyedaMahamFahim"> <i>GitHub</i></a>
    </p>

    <p>
      <a href="https://www.syedamaham.dev/">
        <i>Portfolio blog website</i>
      </a>
    </p>

    <p>
      <a href="https://www.linkedin.com/in/syedamahamfahim/">
        <i>LinkedIn</i>
      </a>
    </p>
    <br/>
    <p>
      I look forward to the opportunity to discuss how my background, skills,
      and qualifications can benefit <strong><i>{{company_name}}</i></strong>
    </p>
    <br />
    <p>Thanks for your consideration!</p>
    ---<br /><br />
    <p>Best regards,</p>
    <p><a href="http://www.syedamaham.dev/" target="_blank">www.syedamaham.dev</a></p>
    <p><a href="mailto:syedamahamfahim@gmail.com" target="_blank">syedamahamfahim@gmail.com</a></p>
  </body>
</html>
